body#header { 
  padding:0 0 0 50px ;
  background-image:url('../page/WebTechBackground.jpg');
}

#header table { 
  height:145px;
}

#header td { 
  text-shadow:0.12em 0.12em 0.12em #505050;
  font-size:12px;
  font-family:sans-serif;
  color:#FFFFBB;
  height:145px;
  vertical-align:middle;
}

#header h1,h2,h3 { 
  margin:0.5em 0 0.5em 0;
}

#header h1 { 
  font-size:200%;
}

#header h2 { 
  font-size:150%;
}

#header h3 { 
  font-size:120%;
}
