body#loginlogout {
  padding:10px 10px 0 10px;
  background:transparent;
}

#loginlogout table { 
  width:130px;
}

#loginlogout td { 
  width:130px;
  height:28px;
  text-align:center;
  vertical-align:middle;
  margin:3px 0 0 0 ;
  background:#990000;
}

#loginlogout a { 
  text-shadow:0.12em 0.12em 0.12em #707070;
  font-size:12px;
  font-family:sans-serif;
  font-weight:bold;
  color:#FFFFFF;
  text-decoration:none;
}

#loginlogout a:hover { 
  color:#FFFF00;
}
