
div#mask { 
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,20,0.8);
  z-index:100;
  visibility:hidden;
}

#mask img { 
  position:absolute;
  left: 45%;
  top: 45%;
  width:10%;
  height:10%;
}